<h1>Bookmarks</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <div>
        <%= link_to (bookmark.title || bookmark.url), bookmark.url %>
        <p><%= bookmark.description %></p>
        <%= bookmark.created_at %>
        <%= link_to 'edit', edit_bookmark_path(bookmark) %>
        <%= link_to 'delete', bookmark_path(bookmark), data: {
          turbo_method: :delete,
          turbo_confirm: 'Are you sure?'
        } %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Bookmark', new_bookmark_path %>
